node_modules
npm-debug.log
.DS_Store
.settings
.project
*.pyc
*.komodoproject
/nbproject/private/
dist/bundle.js
msg/*
src/app/closure-library/
src/app/blockly-lib/blocks_compressed.js
src/app/blockly-lib/blockly_accessible_compressed.js
src/app/blockly-lib/blockly_accessible_uncompressed.js
src/app/blockly-lib/blockly_uncompressed.js
src/app/blockly-lib/javascript_compressed.js
src/app/blockly-lib/python_compressed.js
src/app/ble-lib/*
src/app/blockly-lib/msg/*
